*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* do una grandezza dell 80% */
.container{
    width: 80%;
    margin: auto;
}
/* imposto font e centro titolo */
h1{
    font-size: 40px;
    padding: 3%;
    text-align: center;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    color: #e53170;
}

p{
    margin-bottom: 1%;
    text-align: center;
}
/* stilizzo le box */
.box{
    box-shadow: -2px -1px 9px 1px rgba(69,69,69,0.47);
    margin-right: 2%;
    color: white;
    background-color: #0f0e17;
    margin-top: 3%;
    height: 100px;
    width: 360px;
    float: left;
}
/* stilizzo gli h2 */
h2{
    font-size: large;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    padding: 1% 0;
}
/* do una randezza all immagine e la floatto a sinistra */
img{
    height: 100px;
    float: left;
}
/* stilizzo i testi all interno della box */
.portfolio{
    padding: 2%;
    float: left;
    margin-left: 10px;
}
/* .mail{
    display: inline-block;
    color: rgb(0, 234, 255);
    padding: 2% 0;
    margin-top: 5px;
} */

/* sostituisco con un tag piu appropriato */

.MailLink{
    display: inline-block;
    margin-top: 5%;
    color: rgb(0, 234, 255);
    text-decoration: none;
}
.job{
    display: inline-block;
    margin-top: 5px;
}
